body {
  --c-black: #d5d5d5;
  --c-white: #2a2830;
  --c-dark-grey: #e4e4e7;
  --c-grey: #7e7e7e;
  --c-purple: #6b1fa3;
  --c-fuschia: #f50777;
  --c-blue: #0b8cff;
  --c-green: #00a76c;
  --c-orange: #dd7200;
  --c-orange-low-saturation: #d08c47;
  --c-yellow: #949700;
  --line: 2.5ch;
  --font: 'IBM', monospace;
}

body.dark {
  --c-black: #1a1a1a;
  --c-white: #e1e1e1;
  --c-grey: #898989;
  --c-dark-grey: #222224;
  --c-purple: #b462ff;
  --c-fuschia: #ff45b4;
  --c-blue: #18b6ff;
  --c-green: #1beb9e;
  --c-orange: #ff9528;
  --c-orange-low-saturation: #a5692d;
  --c-yellow: #dddd25;
}

.orange-low-saturation {
  color: var(--c-orange-low-saturation);
  --c-current: var(--c-orange-low-saturation);
}

.black {
  color: var(--c-black);
  --c-current: var(--c-black);
}

.white {
  color: var(--c-white);
  --c-current: var(--c-white);
}

.grey {
  color: var(--c-grey);
  --c-current: var(--c-grey);
}

.purple {
  color: var(--c-purple);
  --c-current: var(--c-purple);
}

.fuschia {
  color: var(--c-fuschia);
  --c-current: var(--c-fuschia);
}

.blue {
  color: var(--c-blue);
  --c-current: var(--c-blue);
}

.green {
  color: var(--c-green);
  --c-current: var(--c-green);
}

.orange {
  color: var(--c-orange);
  --c-current: var(--c-orange);
}

.yellow {
  color: var(--c-yellow);
  --c-current: var(--c-yellow);
}

.bg-dark-gray {
  background-color: var(--c-dark-grey);
}

a {
  color: var(--c-current);
  text-decoration: none;
}

a:hover,
.selected,
.hover:hover {
  color: var(--c-black);
  background: var(--c-current);
  box-shadow: 0.4ch 0 0 0 var(--c-current), -0.3ch 0 0 0 var(--c-current),
    0.4ch 0.2ch 0 0 var(--c-current), -0.3ch 0.2ch 0 0 var(--c-current);
  opacity: 0.8;
}

.large {
  font-size: 2em;
  line-height: 1.11111111em;
  font-weight: 200;
}

.noselect {
  user-select: none;
}

html,
body {
  margin: 0;
  background: var(--c-black);
  color: var(--c-white);
  min-height: 100vh;
  font-family: var(--font);
  font-weight: 400;
  line-height: var(--line);
  letter-spacing: 0.01em;
}

.separator-char {
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: 2 * 0.7vw;
  }

  .separator-char {
    display: contents;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1vw;
    overflow: auto;
  }
  .separator-char {
    display: contents;
  }
  .large {
    font-size: 4vw;
    line-height: 1.11111111em;
    font-weight: 200;
  }
}

::selection {
  color: #000000;
  background: var(--c-grey);
}

button {
  display: inline;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
}

.hover:hover {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.title {
  font-weight: lighter;
}

.vim-folded {
  white-space: nowrap;
  overflow-x: hidden;
}

.vim-folded::before {
  content: '+--\00A0';
  white-space: nowrap;
}

.vim-folded::after {
  display: inline;
  content: '\00A0··························································································································································';
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

select {
  appearance: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: var(--c-dark-grey);
}
/* those elements are auto generated on server, so we can't do the styles inside a className */
select > option {
  padding: 0.5rem;
  background-color: var(--c-dark-grey);
}

select:focus,
input:focus,
textarea:focus {
  border-color: var(--c-white);
  outline: none;
}
